@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace RazyClub.Host.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="RazySoft Ticketing">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Parsa_lmn">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlazorServerTemplate</title>
    <base href="~/" />
    <link href="_content/Bit.BlazorUI/styles/bit.blazorui.css" rel="stylesheet" />
    <link href="_content/Bit.BlazorUI.Extras/styles/bit.blazorui.extras.css" rel="stylesheet" />
    <link href="_content/Bit.BlazorUI.Icons/styles/bit.blazorui.icons.css" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />    
    <link href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="RazyClub.Host.styles.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @* <component type="typeof(App)" render-mode="ServerPrerendered" /> *@
    <component type="typeof(App)" render-mode="Server" />


    <script src="_framework/blazor.server.js"></script>
    <script src="_content/Bit.BlazorUI/scripts/bit.blazorui.js"></script>
    <script src="_content/Bit.BlazorUI.Extras/scripts/bit.blazorui.extras.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="scripts/app.js"></script>
    <script>
        function setPersianTexts(count) {
            var setPersianInterval = setInterval(function () {
                var paginatorSummary = document.getElementsByClassName('summary');
                // var paginatorText = document.getElementsByClassName('pagination-text');
                var nodata = document.getElementById('noDataFound');
                var sortBtns = document.getElementsByClassName('col-options-button');

                if (paginatorSummary.length > 0 /* && paginatorText.length > 0 */) {

                    setpaginationSummery(paginatorSummary[0], count);
                    setSortBtnTitle(sortBtns);
                    // setPaginationText(paginatorText[0]);

                    clearInterval(setPersianInterval);
                }
                else if (nodata) {
                    clearInterval(setPersianInterval);
                }
            }, 100);
        }
        function setpaginationSummery(element, count) {
            element.innerHTML = `<strong> ${count} </strong> رکورد`;
        }
        function setSortBtnTitle(btns) {
            for (var i = 0; i < btns.length; i++) {
                btns[i].setAttribute('title', "مرتب سازی");
            }
        }
        function setPaginationText(element) {
            var itemsText = element.innerText;
            var splitdata = itemsText.split(" ");
            element.innerHTML = `صفحه <strong> ${splitdata[1]}</strong>از<strong>${splitdata[3]}</strong>`;
        }
    </script>
</body>
</html>
